{include file="index/header" /}  

<div class="form-group" >
<h3>添加会员</h3> 
 </div>
 <form  action="" method="post" enctype="multipart/form-data">
 

  <div class="form-group" >
    
    <input type="text" class="form-control" id="phone" name="phone" value="" placeholder="会员手机号码" maxlength="100">
     
  </div>

   <div class="form-group" >
    
    <input type="text" class="form-control" id="rand"   name="rand" value="" placeholder="会员密码" maxlength="100">
     
  </div>


  

  
<button type="submit" id="btn" class="btn btn-primary"  >添加会员</button>
</form>

 
 {include file="index/footer" /}