 {include file="index/header" /} 





  
 
<div class="panel panel-default">
  <div class="panel-heading">注册</div>
  <div class="panel-body">

  
 
    <form  action="" method="post" name="myform">
        <div class="form-group form-inline" >
     
        账号：<input type="text" class="form-control" id="tel" name="phone" value="" placeholder="请输入账号" maxlength="100">
        </div>

        <div class="form-group form-inline" >
        密码：<input type="text" class="form-control" id="yan" name="rand" value="" placeholder="请输入密码" maxlength="100">
        </div>
		



     


        <button type="submit" id="btn" class="btn btn-primary"  >提交注册</button>

    </form>

 </div>
</div>

 <p style="margin: 500px"></p>

 {include file="index/footer" /}